* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-fonts {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* header section start */
header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("images/developer.png") , url(images/header_bg.png) , #FFF8F3;
    background-position: top left , bottom right;
    background-repeat: no-repeat;
}
nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .logo h2 {
    font-weight: 800;
    font-size: 45px;
    color: #181818;
    width: 121px;
    height: 61px;
    cursor: pointer;
}
nav .logo h2 span {
    color: #FD6E0A;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;


}
.btn {
    background-color: #FD6E0A;
    border: none;
    width: 150px;
    height: 65px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* header section end */

/* Banner section start */

.banner {
    display: flex;
    margin: 47px 38px 0 230px;
    justify-content: space-between;
    align-items: center;
    

}
.banner .left-content {
    width: 585px;
}
.banner .left-content h2 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner .left-content h1 {
    color: #181818;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner .left-content p {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}
.btn-1 {
    width: 200px;
    height: 64px;
    margin-right: 30px;
}
.btn-2 {
    width: 160px;
    height: 64px;
    background-color: transparent;
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
}
.banner .right-content img {
    max-width: 584px;
    height: 676px;
    vertical-align: middle;
}
/* Banner section end */

/* About section start */

.about-me {
    padding-top: 130px;
}
.about-me .about-container {
    background-color: #FFF8F3;
    width: 71%;
    max-width: 1140px;
    height: 550px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 157px 131px 157px;
}
.first-contant h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.first-contant p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.second-contant {
    display: flex;
    justify-content: space-around;
}
.second-contant .card-info p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.second-contant .card-info h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #474747;
    background-color: #181818;
}
/* About section end */